*{
    box-sizing: border-box;
}

body{
    background-image: url(img.jpg);
    background-size: 1450px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: rgba(255, 238, 0, 0.30);
    border: 0;
    box-shadow: 0 10px 20px rgba(0, 0,0,0.1), 0 6px 6px rgba(0, 0,0,0.1);
    padding: 50px 20px;
    max-width: 100%;
    width: 800px;
    text-align: center;
}

h3{
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.70;
}

.joke{
    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color: #075baa;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.1), 0 6px 6px rgba(0, 0,0,0.1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 40px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.containerScore{
    background-color: transparent ;
    padding: 10px 10px;
    max-width: 100%;
    width: 800px;
    text-align: center;
}
.btnscore{
    background-color:transparent;
    border: 5;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.1), 0 6px 6px rgba(0, 0,0,0.1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

.btnscore:active{
    transform: scale(0.98);
}

.btnscore:focus{
    outline: 0;
}


